*.zip

# Managed by Composer
/vendor/

# PHPStan extracted files
/phpstan/

# PHPUnit
/app/phpunit.xml
/phpunit.xml
/.phpunit.result.cache

# Composer PHAR
/composer.phar

# Visual Studio
/Properties

# IDE
/.vscode

# PHPStan
/phpstan.log

# PHPStorm
/.idea

###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
